.lead__image {
    margin: 64px auto 0px;
    width: 100%;
    object-fit: contain;
}

@media (min-width: 375px) and (max-width: 1240px) {
    .lead__image {
        margin: 56px auto 0px;
    }
}

@media (max-width:374px) {
    .lead__image {
        margin: 40px auto 0px;
    }
}