.cover {
    display: flex;
    margin: 92px auto 0;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    min-height: 740px;
    max-width: 1184px;
    background-color: rgba(42, 44, 47, 0.3);
    background-blend-mode: multiply;
    justify-content: center;
    text-align: center;
}
.cover:hover {
    background-color: rgba(42, 44, 47, 0.8);
}
@media (max-width: 1024px) {
    .cover {
      min-height: 640px;
      max-width: 1024px;  
    }
}
@media (max-width: 770px) {
    .cover {
        min-height: 480px;
        margin-top: 48px;
    }
}
@media (max-width: 330px) {
    .cover {
        min-height: 200px;
        margin-top: 48px;
    }
}