.cover__title {
    padding: 245px 25% 32px 25%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    box-sizing: border-box;
}

@media (min-width: 386px) and (max-width: 768px) {
    .cover__title {
        padding: 104px 10% 32px 10%;
        font-size: 32px;
        line-height: 35px;
        max-width: 343px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        padding: 165px 10% 32px 10%;
        max-width: 720px;
    }
}

@media (max-width: 385px) {
    .cover__title {
        padding: 104px 5% 32px 5%;
        font-size: 32px;
        line-height: 35px;
        max-width: 343px;
    }
}